body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100%;
  background-color: white;
}

h1 {
  color: navy;
}

.container_navbar {
    background-color: white;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 21;
}

.container_content {
    background-color: rgb(45, 97, 167);
}

.container_toolbar {
    background-color: white;
    float: left;
    height: 1000px;
    width: 140px;
    position: fixed;
    z-index: 20;
}

.container_workplace {
    background-color: #EBEBEB;
    height: 3000px;
    width: 100%;
    position:  relative;
    z-index: 0;
}

.container_footer {
    background-color: rgb(220, 240, 46);
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;
}

.main_title {
    font-size: 25px;
    color:rgba(0, 0, 0, 0.75);
    font-weight: 700;
    position:relative;
    left: 15px;
    user-select: none;
    top: -10px;
}

.toolbar_button_container {
    top: 25%;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: space-between;
}

.toolbar_main_button {
    border: none;
    background-color: white;
    float: left;
    width: 100%;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-weight: 700;

    color: #a3a3a3;
    font-size: 18px;
    font-family: "Poppins", sans-serif;

    transition: 0.4s;
    
    text-align: left;
}

.toolbar_main_button:hover {
    box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 700;
    border-top: 1px solid rgb(197, 197, 197);
    border-right: 1px solid rgb(197, 197, 197);
    transition: 0.4s;
    font-size: 18px;
    padding-left: 30px;
}

.snippet_container {
    position:absolute;
    background-color: blue;
    width: 300px;
    height: 500px;
    top: 100px;
    left: 170px;
    z-index: 1;

    border: 3px solid #3a3a3a;
    border-radius: 15px;
    overflow: hidden;
    resize: both;

}

.snippet_head {
    width: 100%;
    height: 35px;
    background-color: #3a3a3a;
    z-index: 1;
}

.snippet_head:hover {
    background-color: #222222;
}

.snippet_body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: chartreuse;
}

.snippet_footer {
    width: 100%;
    height: 30px;
    background-color: crimson;
}

.h_lines {
    position: absolute;
    margin: auto;
    top: -3px;
    width: 100%;
}

.h_line {
    width: 50px;
    opacity: 0.5;
    
}

.title_box {
    padding-left: 5px;
    padding-right: 15px;
    margin-bottom: 10px;
}

#title_field {
    margin-top: 10px;
    width: 100%;
    height: 25px;
}

.content_box {
    position: relative;
    padding-left: 5px;
    padding-right: 15px;
    height: 80%;
    background-color: aqua;
}

#note_textarea {
    width: 100%;
    height: 100%;
    resize: none;
}