body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100%;
  background-color: white;
}

h1 {
  color: navy;
}

.container_navbar {
    background-color: white;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 21;
}

.container_content {
    background-color: rgb(45, 97, 167);
}

.container_toolbar {
    background-color: white;
    float: left;
    height: 1000px;
    width: 180px;
    position: fixed;
    z-index: 20;
}

.container_workplace {
    background-color: #EBEBEB;
    height: 3000px;
    width: 100%;
    position:  relative;
    z-index: 0;
}

.container_footer {
    background-color: rgb(220, 240, 46);
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;
}

.main_title {
    font-size: 25px;
    color:rgba(0, 0, 0, 0.75);
    font-weight: 700;
    position:relative;
    left: 15px;
    user-select: none;
    top: -10px;
}

.toolbar_button_container {
    top: 25%;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: space-between;
}

.toolbar_main_button {
    border: none;
    background-color: white;
    float: left;
    width: 100%;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    cursor: pointer;

    color: #a3a3a3;
    font-size: 18px;
    font-family: "Poppins", sans-serif;

    transition: 0.4s;
    
    text-align: left;
}

.toolbar_main_button:hover {
    box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 700;
    transition: 0.4s;
    font-size: 18px;
    padding-left: 30px;
}

.snippet_container {
    position:absolute;
    background-color: #3a3a3a;
    width: 315px;
    height: 500px;
    left: 200px;
    z-index: 1;

    border: 2px solid #3a3a3a;
    border-radius: 15px;
    overflow: hidden;
    resize: both;

    min-width: 315px;
    min-height: 200px;
}

.snippet_header {
    width: 100%;
    height: 35px;
    background-color: #3a3a3a;
    position: absolute;
    z-index: 2;
}

.snippet_header:hover {
    background-color: #2b2b2b;
}

.snippet_header:hover .h_line {
    width: 100px;
    transition: 0.5s;
}

.snippet_body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column;
    height: 100%;
    z-index: 1;
}

.snippet_footer {
    width: 100%;
    height: 30px;
    background-color: crimson;
}

.h_lines {
    position: absolute;
    margin: auto;
    top: -3px;
    width: 100%;
}

.h_line {
    width: 50px;
    opacity: 0.3;
    background-color:white;
    transition: 0.3s;
}

.title_box {
    padding-left: 10px;
    padding-right: 18px;
    margin-bottom: 10px;
    padding-top: 50px;
    text-align: center;
}

.title_field {
    width: 200px;
    height: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    outline:none;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    transition: 0.5s;
    margin-left: 5px;
}

.title_field:hover {
    border: 2px solid rgba(0, 0, 0, 0.6);
    width: 220px;
    transition: 0.2s;
}

.title_field::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.content_box {
    padding-left: 10px;
    padding-right: 14px;
    background-color: white;
    flex-grow: 1;
    margin-bottom: 15px;
}

.note_textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    background-color:#ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    outline:none;
    font-size: 15px;
    border-radius: 15px;
    overflow: hidden;
}

.note_textarea:hover {
    background-color: #f7f7f7;
}

.note_textarea::placeholder {
    color: rgba(0, 0, 0, 0.45);
}

.login_container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 200px;
}

.login_title {
    text-align: center;
    left: 0;
    font-size: 45px;
}

.login_input {
    width: 300px;
    height: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #e4e4e4;
    border: 1px solid #b6b6b6;
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    outline:none;
    
    transition: 0.2s;
}

.login_input:hover {
    border: 1px solid rgba(0, 0, 0, 0.75);
}

.login_input:focus {
    border-left: 5px solid rgba(0, 0, 0, 0.75);
    transition: 0.4s;
}

.login_button {
    width: 315px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    outline: none;
    background-color: #e4e4e4;
    border: 1px solid #b6b6b6;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.75);

    transition: 0.1s;
}

.login_button:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: 700;
    cursor: pointer;

    transition: 0.2s;
}

.register_info_text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.register_link {
    font-size:15px;
    font-weight: 700;
    text-decoration: none;
    color:  blue;
    margin-left: 8px;
}

.register_link:hover {
    text-decoration: underline;
}

.show_password_toggle {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.show_password_toggle:hover {
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.warning {
    color: red;
}

.table_textarea {
    background-color: rgb(235, 235, 235);
    border: none;
    resize: none;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    width:100%;
    border-radius: 2px;
    transition: 0.2s;
    color: rgba(0, 0, 0, 0.75);
    height: 30px;
    padding-left: 7px;
}

.table_textarea:hover {
    background-color: rgb(228, 228, 228);
    transition: 0.2s;
}

.table_textarea:focus {
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.75);
    outline: none;

}

.table {
}

.table_row {
    background-color: white;
}

.table_cell {
    padding: 5px;
}

.snippet_icon {
    transform: scale(1.4);
    position: relative;
    top:7px;
    right: 5px;
    opacity: 0.8;
}

.toolbar_icon {
    transform: scale(1.15);
    position: relative;
    top:5px;
    right: 5px;
    opacity: 0.8;
}

.icon_note {
    color: red;
}

.icon_table {
    color: green;
}

.icon_list {
    color: blue;
}

.popup_container {
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 180px;
    top: 270px;
    width: 200px;
    padding-top:5px;
    border-top: 4px solid green;
    z-index: 20;
}

.input_container {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.input_tag {
    width: 80px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    text-align: right;
    margin-right: 10px;
}

.popup_input {
    width: 60px;
    height: 35px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Poppins", sans-serif;
    transition: 0.2s;
    text-align: center;
}

.popup_input:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.popup_input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.table_commit_button {
    width: 100%;
    height: 35px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 5px;
}


.table_commit_button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.list {
    margin-right: 20px;
}

.list_item {
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: relative;
    display: flex;
    left: -15px;
}

.list_item_container {
    width:  100%;
    display: inline-block;
    position: relative;
}

.list_item_input {
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
    vertical-align: middle;
    width: 100%;    
    box-sizing: padding-box;
    transition: 0.2s;
}

.list_item_input:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.list_item_input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.list_item_remove {
    width: 50px;
    position: relative;
    left: 20px;
    border: none;
    border-radius: 10px;
    background-color: white;
}

.list_item_remove:hover {
    color: red;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    transition: 0.3s;
}

.remove_icon {
    vertical-align: middle;
    opacity: 0.4;
}

.bullet_icon {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.7);
    transform: scale(0.5);
    position: relative;
    top: 2px;
    right: 5px;
}

.button_add {
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    position: absolute;
    transform: translate(-50%,0);
    left: 50%;

    color: rgba(0, 0, 0, 0.75);
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    border-radius: 25px;
    font-size: 13px;
    transition: 0.2s;
}

.button_add:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: 0.2s;
}