body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100%;
  padding: 0;
  background-color: white;
}

h1 {
  color: navy;
}

.container_navbar {
    background-color: white;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 21;
    padding-right: 30px;
}

.container_content {
    background-color: rgb(45, 97, 167);
}

.container_toolbar {
    background-color: rgb(207, 207, 207);
    float: left;
    height: 1000px;
    width: 180px;
    position: fixed;
    z-index: 20;
    
}

.container_workplace {
    background-color: #c0c0c0;
    height: 3000px;
    width: 100%;
    position: relative;
    z-index: 0;
    box-shadow: inset 20px 20px 20px black;
}

.container_footer {
    background-color: rgb(220, 240, 46);
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;
}

.main_title {
    font-size: 30px;
    color:rgba(0, 0, 0, 0.75);
    font-weight: 700;
    position:relative;
    left: 15px;
    user-select: none;
    top: -25px;
    display: inline-block;
}

.toolbar_button_container {
    top: 25%;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: space-between;
}

.toolbar_main_button {
    border: none;
    background-color: rgb(207, 207, 207);
    float: left;
    width: 100%;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: inset 0px 0px 2px rgb(54, 54, 54);

    color: #808080;
    font-size: 18px;
    font-family: "Poppins", sans-serif;

    transition: 0.4s;
    
    text-align: left;
}

.toolbar_main_button:hover {
    box-shadow: -5px 10px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 700;
    transition: 0.15s;
    font-size: 18px;
    padding-left: 30px;
}

.snippet_container {
    position:absolute;
    background-color: #3a3a3a;
    width: 315px;
    height: 500px;
    left: 200px;
    z-index: 1;

    border: 2px solid #3a3a3a;
    border-radius: 15px;
    overflow: hidden;
    resize: both;

    min-width: 315px;
    min-height: 200px;
}

.snippet_header {
    width: 100%;
    height: 35px;
    background-color: #3a3a3a;
    position: absolute;
    z-index: 2;
}

.snippet_header:hover {
    background-color: #2b2b2b;
}

.snippet_header:hover .h_line {
    width: 100px;
    transition: 0.5s;
}

.snippet_body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column;
    height: 100%;
    z-index: 1;
}

.snippet_footer {
    width: 100%;
    height: 30px;
    background-color: crimson;
}

.h_lines {
    position: absolute;
    margin: auto;
    top: -3px;
    width: 100%;
}

.h_line {
    width: 50px;
    opacity: 0.3;
    background-color:white;
    transition: 0.3s;
}

.title_box {
    padding-left: 10px;
    padding-right: 18px;
    margin-bottom: 10px;
    padding-top: 50px;
    text-align: center;
}

.title_field {
    width: 200px;
    height: 35px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    outline:none;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    transition: 0.5s;
    margin-left: 5px;
}

.title_field:hover {
    border: 2px solid rgba(0, 0, 0, 0.6);
    width: 220px;
    transition: 0.2s;
}

.title_field::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.content_box {
    padding-left: 10px;
    padding-right: 14px;
    background-color: white;
    flex-grow: 1;
    margin-bottom: 15px;
}

.note_textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    background-color:white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    outline:none;
    font-size: 15px;
    overflow: hidden;
}

.note_textarea:hover {
    background-color: rgba(0, 0, 0, 0.0);
}

.note_textarea::placeholder {
    color: rgba(0, 0, 0, 0.45);
}

.login_container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 200px;
}

.login_title {
    text-align: center;
    left: 0;
    font-size: 45px;
}

.login_input {
    width: 300px;
    height: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #e4e4e4;
    border: 1px solid #b6b6b6;
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    outline:none;
    
    transition: 0.2s;
}

.login_input:hover {
    border: 1px solid rgba(0, 0, 0, 0.75);
}

.login_input:focus {
    border-left: 5px solid rgba(0, 0, 0, 0.75);
    transition: 0.4s;
}

.login_button {
    width: 315px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    outline: none;
    background-color: #e4e4e4;
    border: 1px solid #b6b6b6;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.75);

    transition: 0.1s;
}

.login_button:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: 700;
    cursor: pointer;

    transition: 0.2s;
}

.register_info_text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.register_link {
    font-size:15px;
    font-weight: 700;
    text-decoration: none;
    color:  blue;
    margin-left: 8px;
}

.register_link:hover {
    text-decoration: underline;
}

.show_password_toggle {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.show_password_toggle:hover {
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.warning {
    color: red;
}

.table_textarea {
    background-color: rgb(235, 235, 235);
    border: none;
    resize: none;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    width:100%;
    border-radius: 2px;
    transition: 0.2s;
    color: rgba(0, 0, 0, 0.75);
    height: 30px;
    padding-left: 7px;
}

.table_textarea:hover {
    background-color: rgb(228, 228, 228);
    transition: 0.2s;
}

.table_textarea:focus {
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.75);
    outline: none;

}

.table {
    display: inline-block;
}

.table_row {
    background-color: white;
}

.table_cell {
    padding: 5px;
}

.snippet_icon {
    transform: scale(1.4);
    position: relative;
    top:7px;
    right: 5px;
    opacity: 0.8;
}

.toolbar_icon {
    transform: scale(1.15);
    position: relative;
    top:5px;
    right: 5px;
    opacity: 0.8;
}

.icon_note {
    color: red;
}

.icon_table {
    color: green;
}

.icon_list {
    color: blue;
}

.popup_container {
    background-color: rgb(255, 255, 255);
    position: fixed;
    left: 180px;
    top: 270px;
    width: 200px;
    padding-top:5px;
    border-top: 4px solid green;
    z-index: 20;
}

.input_container {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.input_tag {
    width: 80px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    text-align: right;
    margin-right: 10px;
}

.popup_input {
    width: 60px;
    height: 35px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Poppins", sans-serif;
    transition: 0.2s;
    text-align: center;
}

.popup_input:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.popup_input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.table_commit_button {
    width: 100%;
    height: 35px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 5px;
}


.table_commit_button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.list {
    margin-right: -15px;
}

.list_item {
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: relative;
    display: flex;
    left: -30px;
    margin-bottom: 7px;
    height: unset;
}

.list_item_container {
    width:  100%;
    display: inline-block;
    position: relative;
}

.list_item_input {
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
    vertical-align: middle;
    width: 100%;    
    box-sizing: padding-box;
    transition: 0.2s;
}

.list_item_input:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.list_item_input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.list_item_remove {
    width: 50px;
    position: relative;
    left: 15px;
    border: none;
    border-radius: 10px;
    background-color: white;
}

.list_item_remove:hover {
    color: red;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    transition: 0.3s;
}

.remove_icon {
    vertical-align: middle;
    opacity: 0.4;
}

.bullet_icon {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.7);
    transform: scale(0.5);
    position: relative;
    top: 2px;
    right: 5px;
}

.button_add {
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    position: absolute;
    transform: translate(-50%,0);
    left: 50%;

    color: rgba(0, 0, 0, 0.75);
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    border-radius: 25px;
    font-size: 13px;
    transition: 0.2s;
}

.button_add:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: 0.2s;
}

.screw_line {
    width: 20px;
    position: absolute;
    z-index: 21;
    top: 7px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 2px;
    border: none;
}

.snippet_close {
    float: right;
    border: none;
    background-color: transparent;
    margin-top: 4px;
    margin-right: 3px;
    color:rgb(104, 104, 104);
}

.snippet_close:hover {
    color: rgb(201, 38, 38);
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
}

@-webkit-keyframes rotate {
    0% {transform: rotateY(0);}
    80% {transform: rotateY(70);}
    100% {transform: rotateY(90);}
}

.note_box {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    flex-grow: 1;
    height: 100%;
    border-radius: 15px;
    padding: 10px;
    margin-left: 2px;
}

.note_box:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.button_table_tool {

}

.tool_container_col {
    background-color: red;
}

.tool_container_row {
    background-color: green;
    display: contents;
}

.table_box {
    display: inline-block;
    background-color: green;
    margin-right: 10px;
}

.flex {
    display: flex;
}

.options_button {
    margin-top: 10px;
    float: right;
    font-size: 15px;
    height: 40px;
    vertical-align: middle;
    font-family: "Poppins", sans-serif;
    margin-right: 10px;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.55);
    border-radius: 10px;
    background-color: transparent;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
    border: none;
    transition: 0.1s;
}

.button_save:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    font-weight: 500;

}

.button_darkmode {
    border: none;
}

.button_darkmode:hover {
    font-weight: 500;
    font-family: "Poppins", sans-serif;

    transition: 0.2s;
    color: rgba(0, 0, 0, 0.75);
}

.icon_darkmode {
    transform: scale(1.6);
    font-family: "Poppins", sans-serif;
}

.icon_options {
    vertical-align: middle;
}

.text_darkmode {
    font-family: "Poppins", sans-serif;
}

.menu_container {
    background-color: #2B3043;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.menu_title {
    color: white;
    font-size: 75px;
    font-weight: 700;
    text-align: center;
    margin-top: 0px;
}

.menu_navbar {
    background-color: transparent;
    width: 60%;
    min-width: 550px;
    margin: auto;
    margin-top: 20px;
}

.menu_button {
    background-color: transparent;
    color: white;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    border: none;
    color: rgba(255,255,255,0.5);
    font-weight: 300;
    padding: 10px;
    padding-right:20px;
    padding-left: 20px;
    outline: none;
}

.menu_button:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.75)
}

.menu_button:focus {
    outline: none;
}

.menu_create_button {
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 5px;
    vertical-align: middle;
    font-weight: 500;
}

.menu_create_button:hover {
    border: 1px solid rgba(255,255,255,0.75);
}

.menu_darkmode_toggle {
    float: right;
}

.menu_account_link {
    float: right;
}

.cards_container {
    background-color: transparent;
    width: calc(100vw - 700px);
    min-width: 300px;
    margin: auto;
    margin-top: 20px;
    text-align: left;
    overflow-y: auto;
    height: 690px;
}

.card_container {
    background-color: #202331;
    height: 140px;
    width: 100%;
    border-radius: 15px;
    transition: 0.15s;
    display: inline-block;
    margin: auto;
    margin-top: 30px;
    text-align: left;
    z-index: 0;
    position: relative;
}

.card_container:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.color_panel {
    width: 100%;
    height: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card_title {
    color: rgba(255,255,255,0.75);
    font-weight: 500;
    font-size: 30px;
    margin-left: 25px;
    margin-top: 30px;
    display: inline-block;
    font-family: "Poppins", sans-serif;
}

.card_date {
    color: rgba(255,255,255,0.25);
    font-weight: 200;
    font-size: 15px;
    margin-left: 10px;
    margin-top: -22px;
    display: inline-block;
}

.menu_create_icon {
    vertical-align: middle;
    top: -2px;
    transform: scale(1.2);
}

.card_function_button {
    border: none;
    background-color: transparent;
    float: right;
}

.menu_icon {
    vertical-align: middle;
    margin-top: -3px;
}

.card_options_button {
    float: right;
    display: inline-block;
    background-color: transparent;
    outline: none;
    border: none;
    color: rgba(255,255,255,0.75);
    margin-top: 28px;
    margin-right: 25px;
    padding: 10px;
    border-radius: 5px;
}

.card_options_button:hover {
    background-color: #2B3043;
}

.card_options_button:focus {
    outline: none;
}

.card_options_icon {
    transform: scale(1.3);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 12px;
}

.card_content {
    display: inline-block;
    width: 84%;
    height: calc(100% - 30px);
    margin: 0;
    border-bottom-left-radius: 15px;
}

.card_entry {
    display: inline-block;
    width: 15%;
    height: 65px;
    text-align: center;
}

.entry_icon {
    color: rgba(255,255,255,0.75);
    vertical-align: middle;
    top: -4px;
    transform: scale(1.5);
    position: relative;
    border-radius: 5px;
    margin-right: 17px;
    padding: 15px;
}

.entry_icon:hover {
    cursor: pointer;
    background-color: #2B3043;
}

.dropdown_container {
    z-index: 20;
    height: 110px;
    position: absolute;
    background-color: transparent;
    top: 30px;
    border-bottom-left-radius: 15px;
    width: calc(100% - 330px);
    font-family: "Poppins", sans-serif;
    animation: "";
    opacity: 0;
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes hide {
    from {width: calc(100% - 330px);}
    to {width: 0px;}
}

.dropdown_slide {
    background-color: #161822;
    width: 0px;
    height: 110px;
    position: absolute;
    top: 30px;
    border-bottom-left-radius: 15px;
    animation: "";
}

@keyframes slide {
    from {width: 0px;}
    to {width: calc(100% - 330px);}
}

@keyframes leave {
    from {width: calc(100% - 330px);}
    to {width: 0px;}
}

.rename_container {
    height: 50%;
    width: calc(100% - 100px);
    display: inline-block;
}

.rename_icon {
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    margin-top: 15px;
    color: rgba(255,255,255,0.75);
    transform: scale(1.15);
}

.rename_input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: rgba(255,255,255,0.75);
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin-left: 30px;
}

.color_palette {
    height: 50%;
    width: calc(100% - 100px);
    display: inline-block;
}

.color_button {
    height: 35px;
    width: 35px;
    border-radius: 25px;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0);
    margin-left: 10px;
    margin-top: 5px;
}

.color_button:hover {
    outline: none;
    border: 2px solid rgba(255,255,255,0.75);
}

.color_button:focus {
    outline: none;
}

.delete_button {
    float: right;
    width: 100px;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.delete_button:hover {
    background-color: #12131b;
}

.delete_button:focus {
    outline: none;
}

.delete_icon {
    transform: scale(1.2);
    color: rgba(255,255,255,0.75);
}

.empty_icon {
    margin-top: 90px;
    color: rgba(255,255,255,0.35);
    margin-left: calc(50% - 20px);
    transform: scale(6);
    user-select: none;
}

.empty_message {
    color: rgba(255,255,255,0.5);
    text-align: center;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-top: 80px;
}

::-webkit-scrollbar {
  width: 20px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2B3043;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212433;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1c1e2b;
}